@{
    ViewData["Title"] = "Home";
}

<div>
    <p>Results:</p>
    <p>Azure: <span id="azureResults">0</span></p>
    <p>Amazon: <span id="amazonResults">0</span></p>
    <p>Google: <span id="googleResults">0</span></p>
    <p>Detector: <span id="detectorResults">0</span></p>
</div>
<div>
    <ul id="list"></ul>
</div>

@section scripts{
    <script>
        require(["demo"]);
    </script>
}