@{
    ViewData["Title"] = "Home";
}

<div>
    <p>Results:</p>
    <p>Azure: <span id="azureResults"></span></p>
    <p>Google: <span id="googleResults"></span></p>
    <p>Detector: <span id="detectorResults"></span></p>
</div>
<div>
    <ul id="list"></ul>
</div>

@section scripts{
    <script>
        require(["demo"]);
    </script>
}