@model FaceApiWebTest.Models.ApiKeyModel
@{
    ViewData["Title"] = "Home";
}

<div>
    <p>Results:</p>
    <p>Azure: <span id="azureResults">0</span></p>
    <p>Google: <span id="googleResults">0</span></p>
    <p>Amazon: <span id="amazonResults">0</span></p>
    <p>Amaxon Proxy: <span id="amazonProxyResults">0</span></p>
</div>
<div>
    <ul id="list"></ul>
</div>

@section scripts{
    <script>
        require(["api-keys"], function (module) {
            var keys = module.keys;
            keys.azure = '@Model.AzureApiKey';
            keys.google = '@Model.GoogleApiKey';
            keys.amazon.accessKeyId = '@Model.AmazonAccessKeyId';
            keys.amazon.secretAccessKey = '@Model.AmazonSecretAccessKey';

            require(["demo"], function () {
                console.log("demo loaded.");
            });
        });
    </script>
}